<?xml version="1.0" encoding="UTF-8" ?>
<web-app>

        <display-name>webapps-caching</display-name>

        <servlet>
            <servlet-name>OiMundoServlet</servlet-name>
            <servlet-class>servlet.OiMundoServlet</servlet-class>
            <load-on-startup>0</load-on-startup>
        </servlet>

        <servlet-mapping>
            <servlet-name>OiMundoServlet</servlet-name>
            <url-pattern>/ola</url-pattern>
        </servlet-mapping>

</web-app>